
.err-validation{
    background: rgba(221, 14, 32, 1);
    position:absolute;
    color: #FFFFFF;
    font-size: 11px;
    right:3%; 
    margin-top: -64px;
    border-radius: 3px;
    padding:4px;
    display: none;
}

.err-validation-textarea{
    background: rgba(221, 14, 32, 1);
    position:absolute;
    color: #FFFFFF;
    font-size: 11px;
    right:3%; 
    margin-top: -114px;
    border-radius: 3px;
    padding:4px;
    display: none;
}

.err-validation-file{
    background: rgba(221, 14, 32, 1);
    position:relative;
    color: #FFFFFF;
    font-size: 11px;
    right:3%; 
    margin-top: -78px;
    border-radius: 3px;
    padding:4px;
    display: none;
}

.err-validation-login{
    background: rgba(221, 14, 32, 1);
    position:absolute;
    color: #FFFFFF;
    font-size: 11px;
    right:3%; 
    margin-top: -62px;
    border-radius: 3px;
    padding:4px;
    display: none;
}

.err-validation-login-2 {
    background: rgba(221, 14, 32, 1);
    position: absolute;
    color: #FFFFFF;
    font-size: 11px;
    right: 3%;
    margin-top: -2px;
    border-radius: 3px;
    padding: 4px;
    display: none;
}

.err-validation-input-group{
    background: rgba(221, 14, 32, 1);
    position:absolute;
    color: #FFFFFF;
    font-size: 11px;
    right:3%; 
    margin-top: -34px;
    border-radius: 3px;
    padding:4px;
    display: none;
}

.err-validation:after{
    content:'';
    border-color:rgba(221, 14, 32, 1) rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
    border-style: solid;
    border-width:8px 8px 0;
    position:absolute;
    display:block;
    left:20px;
    bottom:-4.5px;
}

.err-validation-file:after{
    content:'';
    border-color:rgba(221, 14, 32, 1) rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
    border-style: solid;
    border-width:8px 8px 0;
    position:absolute;
    display:block;
    left:20px;
    bottom:-4.5px;
}

.err-validation-login:after{
    content:'';
    border-color:rgba(221, 14, 32, 1) rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
    border-style: solid;
    border-width:8px 8px 0;
    position:absolute;
    display:block;
    left:20px;
    bottom:-4.5px;
}

.err-validation-login-2:after {
    content: '';
    border-color: rgba(221, 14, 32, 1) rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
    border-style: solid;
    border-width: 8px 8px -0;
    position: absolute;
    display: block;
    left: 20px;
    bottom: 20px;
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}

.err-validation-textarea:after {
    content:'';
    border-color:rgba(221, 14, 32, 1) rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
    border-style: solid;
    border-width:8px 8px 0;
    position:absolute;
    display:block;
    left:20px;
    bottom:-4.5px;
}

.err-validation-input-group:after {
    content:'';
    border-color:rgba(221, 14, 32, 1) rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
    border-style: solid;
    border-width:8px 8px 0;
    position:absolute;
    display:block;
    left:20px;
    bottom:-4.5px;
}

.form-control:disabled, .form-control[readonly] {
    background-color: #d6e9f3;
    opacity: 1;
}

.select2-container--bootstrap.select2-container--disabled .select2-selection, .select2-container--bootstrap.select2-container--disabled .select2-selection--multiple .select2-selection__choice{
    background-color: #d6e9f3;
    opacity: 1;
}

.modal-dialog-scroll{
    overflow-y: initial !important;
}

.modal-body-scroll{
    max-height: calc(100vh - 200px) !important;
    overflow-y: auto;
}

.submodal-body-scroll{
    max-height: calc(85vh - 200px) !important;
    overflow-y: auto;
}

.a-top:hover {
    /*color: #03a9f4;*/
    color: #d4d7da !important;
    outline: none;
    text-decoration: none;
}

.h1-title {
    position: relative;
    display: inline-block;
}

.h1-title:after {
    content: "";
    border: 1px solid #FF0000;
    bottom: 0;
    display: block;
    margin-top: 3px;
    width: 170px;
}

.text-small-table{
    font-size: 11px;
}

.text-medium-table{
    font-size: 14px;
}

.text-peam{
    color: #000000;
    /*font-family: Tofino, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif!important;*/
    font-family: century Gothic !important;
}

.text-peam-negrita-negro{
    color: #000000;
    /*font-family: Tofino, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif!important;*/
    font-family: century Gothic !important;
}

.text-peam-negrita-verde{
    color: #00793D !important;
    /*font-family: Tofino, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif!important;*/
    font-family: century Gothic !important;
}

.text-peam-negrita-verde:hover{
    color: #FF0000 !important;
}

.text-peam-anaranjado{
    color: #ef8a08;
    /*font-family: Tofino, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif!important;*/
    font-family: century Gothic !important;
}

.text-peam-verde{
    color: #00793D;
    /*font-family: Tofino, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif!important;*/
    font-family: century Gothic !important;
}

.text-peam-verde-index{
    color: #00793D;
    font-family: century Gothic !important;
}

.text-peam-verde-index:hover{
    color: #FF0000;
}

.text-peam-verde-subrayado{
    color: #00793D;
    font-family: century Gothic !important;
    border-bottom: 2px solid #FF0000;
    display: inline-block;
    line-height: 1.3;
}

.text-peam-subrayado-enlaces-externos{
    color: #ffffff;
    font-family: century Gothic !important;
    border-bottom: 2px solid #ffffff;
    display: inline-block;
    line-height: 1.3;
}

.text-peam-negrita{
    font-family: century Gothic !important;
    font-weight: bold;
}

.text-peam-negrita-sombreado{
    font-family: century Gothic !important;
    font-weight: bold;
    text-shadow: 1px 2px #e4e4e4;
}

.text-peam-negrita-fondo{
    font-family: century Gothic !important;
    font-weight: bold;
    background: #f5f5f582;
}

.loader-peam {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #71c44c; /* verde */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

.loader-peam_small {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #71c44c; /* verde */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


.modal-peam {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 50px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    /*overflow: auto; *//* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content-peam {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close-peam {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-peam:hover,
.close-peam:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header-peam {
    padding: 2px 16px;
    background-color: #00793D;
    color: white;
}

.modal-body-peam {padding: 2px 16px;}

.modal-footer-peam {
    padding: 2px 16px;
    background-color: #00793D;
    color: white;
}

.image-peam img{
    max-width: 100%;
    max-height: 100%;
    -webkit-transition: .2s all;
    -webkit-filter: brightness(80%);
}

.image-peam img:hover {
    -webkit-filter: brightness(100%);
}

.description_float{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px;
    z-index: 10;
    width: 90%;
}

.description_float_noticias{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5px;
    z-index: 10;
    width: 100%;
    background: #00000052;
}

.description_float_noticias h5{
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 0px;
}

.btn_float_noticias{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5px;
    z-index: 10;
    width: 100%;
    display: none;
}

.description_float_noticias:hover .btn_float_noticias{
    display: block;
}

.item-noticia-slider:hover .description_float_noticias{
    display: none;
}

.item-noticia-slider:hover .btn_float_noticias{
    display: block;
}

.item-noticia-slider{
    max-width: 100%;
    max-height: 100%;
    -webkit-transition: .2s all;
    -webkit-filter: brightness(90%);
}

.item-noticia-slider:hover{
    -webkit-filter: brightness(100%);
}

.description_float_gerente{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5px;
    z-index: 10;
    width: 100%;
    background: #0000008a;
}

.btn-enlace-externo{
    font-size: 18px !important;
    background-color: white !important;
    color: black !important;
}

.card-peam {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card-peam:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container-card-peam {
    padding: 2px 16px;
}